<div class="background">
<br>
<br>
  <h1 class="text-center text-light shadow p-3 rounded">Reddit /r/popular Scraper</h1>
<br>
<br>
<div class="container">
  <div class="row mt-1">
    <div class="col-md-8 col-12">
      <div class="card">
        <div class="card-header">Click on Reddit Titles to Show Notes
        </div>
        <div class="card-body" id="articles">
        </div>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="card">
        <div class="card-header">Notes</div>
        <div class="card-body" id="notes"></div>
      </div>
    </div>
  </div>
</div>
</div>

