<div class="background">
  <br>
  <br>
  <div class="d-flex justify-content-center">
    <div>
      <img src="images/reddit.png"></img>
    </div>
    <div>
      <h1 class="text-center text-light shadow p-3 rounded">/r/todayilearned Scraper</h1>
    </div>
  </div>
  <div class="text-center">
    <a href="/scrape" class="text-center btn btn-outline-light btn-lg" id="scrape">SCRAPE FOR NEW ARTICLES</a>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-12">
        <div class="card">
          <div class="card-header">Click on Reddit Titles to Show Notes
          </div>
          <div class="card-body" id="articles">
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="card">
          <div class="card-header">Notes</div>
          <div class="card-body" id="notes"></div>
        </div>
      </div>
    </div>
  </div>
</div>