.shownotes {
  font-size: 20px;
  font-weight: bolder;
  margin-top: 8px;
  cursor: pointer;
}

body {
  font-family: 'Lora', serif;
}

h1 {
  font-family: 'Lora', serif;
  font-size: 60px;
}

a {
  margin-bottom: 2px;
}

.card-header {
  font-family: 'Lora', serif;
  font-size: 18px;
}

