.shownotes {
  font-size: 16px;
  font-weight: bolder;
  margin-top: 5px;
  cursor: pointer;
}

body {
  font-family: 'Lora', serif;
}

.background {
  background: linear-gradient(#0575e6, #021b79)
}

h1 {
  font-family: 'Lora', serif;
  font-size: 42px;
}

a {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 14px;
}

.card-header {
  font-family: 'Lora', serif;
  font-size: 18px;
}

#notes {
  margin-top: 5px;
}

img {
  height: 100px;
  width: 75px;
  margin-top: -15px;
  margin-right: -10px;
}

#scrape {
  font-size: 16px;
}

.btn-outline-light:hover {
  color: #FF5700
}